@import url(https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css);
@font-face {
  font-family: 'TTLakes';
  src: local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TTLakes';
  src: local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.woff2) format("woff2"), url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TTLakes';
  src: local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-style: normal; }

.list-reset {
  padding: 0;
  list-style: none; }

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  align-items: center; }
  @media (min-width: 768px) {
    .wrapper {
      width: 94%; } }
  @media (min-width: 1440px) {
    .wrapper {
      width: 96%; } }

.header {
  height: 88px;
  background-color: #fff;
  margin-bottom: 24px; }
  @media (min-width: 1440px) {
    .header {
      height: 1px;
      width: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden; } }
  .header__wrapper {
    justify-content: space-between; }
  .header__content {
    align-items: center; }
    .header__content--left {
      gap: 16px; }
      @media (min-width: 768px) {
        .header__content--left {
          gap: 20px; } }

.circle-btn {
  height: 40px; }
  .circle-btn__text {
    margin-right: 8px; }
  .circle-btn__svg {
    fill: #ff3e79;
    transition: fill 0.2s ease-in-out; }
    .circle-btn__svg:hover {
      fill: #ff6191; }
  .circle-btn--stroke {
    stroke: #ff3e79;
    fill: none;
    transition: fill 0.3s ease-in-out, stroke 0.1s ease-in-out; }
    .circle-btn--stroke:hover {
      stroke: transparent;
      fill: #ff3e79; }
      .circle-btn--stroke:hover path {
        fill: #fff; }
    .circle-btn--stroke path {
      fill: #ff3e79;
      transition: fill 0.1s ease-in-out, stroke 0.1s ease-in-out; }
  @media (min-width: 1440px) {
    .circle-btn--close {
      display: none; } }

.contacts-menu {
  gap: 16px; }
  .contacts-menu__item {
    align-items: center; }
  .contacts-menu--left {
    display: none;
    margin-right: 20px; }
    @media (min-width: 768px) {
      .contacts-menu--left {
        display: flex; } }
  .contacts-menu--right {
    margin-left: 20px; }

.divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea; }
  .divider--right {
    display: none; }
    @media (min-width: 768px) {
      .divider--right {
        display: inline; } }

.main {
  min-height: 100%; }
  @media (min-width: 1440px) {
    .main {
      display: flex; } }

.main-section {
  margin-bottom: 24px; }
  @media (min-width: 1440px) {
    .main-section {
      margin-bottom: 50px; } }
  .main-section__header {
    width: 94%;
    margin-left: 16px;
    margin-bottom: 24px;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .main-section__header {
        margin-left: 24px;
        margin-bottom: 32px; } }
    @media (min-width: 1440px) {
      .main-section__header {
        margin-left: 32px;
        margin-bottom: 8px; } }
  .main-section__title-wrapper {
    align-items: center;
    margin-bottom: 24px; }
  .main-section__title {
    color: #1b1c21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px; }
  .main-section__contacts-menu {
    display: none; }
    @media (min-width: 1440px) {
      .main-section__contacts-menu {
        display: flex;
        gap: 32px; } }
  .main-section__circle-btn {
    align-items: center; }
  .main-section__nav {
    gap: 10px;
    margin-bottom: 24px;
    padding: 0 16px;
    overflow-x: scroll; }
    @media (min-width: 768px) {
      .main-section__nav {
        padding: 0 24px;
        margin-bottom: 32px; } }
    @media (min-width: 1440px) {
      .main-section__nav {
        flex-wrap: wrap;
        margin-bottom: 24px;
        padding: 0 32px;
        overflow: visible; } }

.nav__item {
  white-space: nowrap;
  padding: 8px 16px; }
  .nav__item--active {
    border-radius: 6px;
    border: 2px solid #b8ffec;
    background-color: #fff; }

.nav__link {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px; }

.about-us {
  flex-direction: column; }
  @media (min-width: 768px) {
    .about-us {
      margin: 0 auto;
      width: 94%;
      flex-direction: row; } }
  @media (min-width: 1440px) {
    .about-us {
      margin: 0 auto;
      width: 94%;
      flex-direction: row; } }
  .about-us__text {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
    max-height: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    letter-spacing: 0.2px;
    overflow: hidden;
    transition: max-height 0.5s ease-out; }
    @media (min-width: 768px) {
      .about-us__text {
        gap: 24px;
        max-width: 85%;
        margin-bottom: 16px;
        line-height: 142%; } }
    @media (min-width: 1440px) {
      .about-us__text {
        max-width: 90%;
        margin-bottom: 16px;
        line-height: 142%; } }
  .about-us__more-btn {
    margin-bottom: 16px; }
  .about-us__img {
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .about-us__img {
        border-radius: 8px;
        width: 360px;
        height: 208px; } }
    @media (min-width: 1440px) {
      .about-us__img {
        border-radius: 8px;
        width: 532px;
        height: 308px; } }

.more-btn {
  align-items: center; }
  .more-btn svg {
    transition: transform 0.3s ease-out; }
  .more-btn__text {
    color: #1b1c21;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px; }
  .more-btn--top {
    transform: rotate(180deg); }

@media (min-width: 768px) {
  .link-logo {
    order: 1; } }

.section-header {
  background-image: linear-gradient(to right, #f8f8f8, #fff);
  width: 100%;
  border-top: 1px solid #b8ffec;
  padding: 16px 0;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .section-header {
      margin-bottom: 24px; } }

.section-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82; }

.swiper {
  width: 100%; }

.swiper-wrapper {
  box-sizing: border-box; }

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #b5b6bc; }

@media (min-width: 768px) {
  .swiper-wrapper {
    margin: 0;
    gap: 16px 24px;
    flex-wrap: wrap; }
  .swiper-slide {
    width: calc((100% - (2 * 24px)) / 3); }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1440px) {
  .swiper-slide {
    width: calc((100% - (3 * 32px)) / 4); }
  .swiper-wrapper {
    gap: 16px 32px;
    flex-wrap: wrap;
    margin: 0 auto; }
  .swiper-pagination {
    display: none; } }

.brands-section {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .brands-section {
      margin-bottom: 30px; } }
  @media (min-width: 1440px) {
    .brands-section {
      margin-bottom: 50px; } }
  .brands-section__swiper {
    min-height: 110px;
    margin-bottom: 24px; }
    @media (min-width: 768px) {
      .brands-section__swiper {
        max-height: 160px;
        overflow: hidden;
        transition: max-height 0.3s ease-out; } }
    @media (min-width: 1440px) {
      .brands-section__swiper {
        transition: max-height 0.5s ease-out; } }
  .brands-section__swiper-slide {
    height: 72px; }
  .brands-section__content-card {
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid #eaeaea; }
  .brands-section__swiper-wrapper {
    padding: 0 16px; }
    @media (min-width: 768px) {
      .brands-section__swiper-wrapper {
        padding: 0 24px; } }
    @media (min-width: 1440px) {
      .brands-section__swiper-wrapper {
        padding: 0 32px; } }
  .brands-section__more-btn {
    display: none; }
    @media (min-width: 768px) {
      .brands-section__more-btn {
        display: flex; } }

.highlight {
  position: absolute;
  width: 4px;
  height: 40px;
  border-radius: 0 10px 10px 0;
  background-color: #41f6d7; }

.email {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
  transition: color 0.2s ease-in-out; }
  .email:hover {
    color: #7e7e82; }

.phone {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  transition: color 0.2s ease-in-out; }
  .phone:hover {
    color: #7e7e82; }

.burger-menu {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -100%;
  min-width: 320px;
  padding: 16px 16px 32px;
  background-color: #fff;
  z-index: 2;
  transition: left 0.3s ease-in-out; }
  @media (min-width: 360px) {
    .burger-menu {
      min-width: 360px;
      padding: 16px 24px 32px; } }
  @media (min-width: 768px) {
    .burger-menu {
      padding: 24px 24px 32px;
      transition: left 0.5s ease-in-out; } }
  @media (min-width: 1440px) {
    .burger-menu {
      padding: 30px 30px 30px 22px;
      position: static;
      order: -1;
      box-shadow: none;
      display: block;
      left: 0; } }
  .burger-menu__contacts-menu {
    margin-bottom: 16px; }
  .burger-menu__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px; }
    @media (min-width: 768px) {
      .burger-menu__header {
        margin-bottom: 46px; } }
  .burger-menu__content--left {
    align-items: center;
    gap: 16px; }
  .burger-menu__nav {
    padding-top: 4px;
    margin-bottom: 32px; }
    @media (min-width: 768px) {
      .burger-menu__nav {
        margin-bottom: 268px; } }
    @media (min-width: 1440px) {
      .burger-menu__nav {
        margin-bottom: 240px; } }
  .burger-menu__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
    transition: color 0.2s ease-in-out; }
    .burger-menu__item:hover {
      color: #7e7e82; }
    .burger-menu__item:not(:last-child) {
      margin-bottom: 24px; }
      @media (min-width: 768px) {
        .burger-menu__item:not(:last-child) {
          margin-bottom: 32px; } }
      @media (min-width: 1440px) {
        .burger-menu__item:not(:last-child) {
          margin-bottom: 28px; } }
    .burger-menu__item--active {
      color: #7e7e82; }
  .burger-menu__footer {
    flex-direction: column; }
  .burger-menu__email {
    margin-bottom: 12px; }
  .burger-menu__phone {
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .burger-menu__phone {
        margin-bottom: 40px; } }
  .burger-menu__highlight {
    height: 32px;
    left: 0; }
  .burger-menu--open {
    height: 100%;
    left: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02); }
    @media (min-width: 768px) {
      .burger-menu--open {
        position: fixed; } }
    @media (min-width: 1440px) {
      .burger-menu--open {
        position: static;
        box-shadow: none; } }

.languages-menu {
  gap: 7px; }
  .languages-menu__btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
    transition: color 0.2s ease-in-out; }
    .languages-menu__btn:hover {
      color: #7e7e82; }
    .languages-menu__btn--active {
      color: #7e7e82; }

@media (min-width: 1440px) {
  .sections-wrapper {
    margin-top: 42px; } }

@media (max-width: 1440px) {
  .blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, z-index 0.3s ease-in-out; } }

.blur--active {
  height: 100%;
  opacity: 0.9;
  z-index: 2; }

.content-card {
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 6px; }
  .content-card__title {
    font-size: 16px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px; }

.repair-section {
  margin-bottom: 24px; }
  .repair-section__content-card {
    padding: 16px;
    border: 1px solid #eaeaea; }
  .repair-section__swiper-slide {
    height: 160px; }
  .repair-section__circle-btn {
    align-self: flex-end; }
  .repair-section__swiper {
    min-height: 200px;
    margin-bottom: 24px; }
    @media (min-width: 768px) {
      .repair-section__swiper {
        min-height: auto;
        max-height: 160px;
        overflow: hidden;
        transition: max-height 0.3s ease-out; } }
    @media (min-width: 1440px) {
      .repair-section__swiper {
        transition: max-height 0.5s ease-out; } }
  .repair-section__swiper-wrapper {
    padding: 0 16px; }
    @media (min-width: 768px) {
      .repair-section__swiper-wrapper {
        padding: 0 24px; } }
    @media (min-width: 1440px) {
      .repair-section__swiper-wrapper {
        padding: 0 32px; } }
  .repair-section__more-btn {
    display: none; }
    @media (min-width: 768px) {
      .repair-section__more-btn {
        display: flex; } }

.price-section {
  margin-bottom: 24px; }
  .price-section__content-card {
    position: relative;
    flex-direction: column;
    padding: 16px;
    gap: 16px; }
    @media (min-width: 768px) {
      .price-section__content-card {
        align-items: center;
        flex-direction: row;
        width: 100%;
        border-radius: 0; } }
    .price-section__content-card--first {
      border-radius: 6px 6px 0 0; }
    .price-section__content-card--last {
      border-radius: 0 0 6px 6px; }
  .price-section__swiper-slide {
    height: 200px; }
    @media (min-width: 768px) {
      .price-section__swiper-slide {
        max-height: 64px;
        width: 100%; } }
  .price-section__swiper {
    height: 240px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .price-section__swiper {
        height: auto; } }
  .price-section__swiper-wrapper {
    padding: 0 8px; }
    @media (min-width: 768px) {
      .price-section__swiper-wrapper {
        padding: 0 24px;
        gap: 0; } }
    @media (min-width: 1440px) {
      .price-section__swiper-wrapper {
        padding: 0 32px; } }
  .price-section__service-title {
    display: block;
    margin-bottom: 4px;
    color: #7e7e82;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.72; }
    @media (min-width: 768px) {
      .price-section__service-title {
        display: none; } }
  .price-section__service-text {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px; }
  .price-section__btn {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 16px;
    right: 16px;
    max-width: 120px;
    height: 32px;
    padding: 4px 40px 4px 12px;
    background-color: #ff3e79;
    border-radius: 16px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: -0.15px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .price-section__btn {
        position: relative;
        bottom: 0;
        right: 0; } }
  .price-section__btn-arrow {
    position: absolute;
    right: 18px;
    min-width: 7px;
    min-height: 9px; }
  .price-section__section-header {
    margin-bottom: 30px; }

html {
  font-family: 'TTLakes', Helvetica, sans-serif; }

body {
  background-color: #f8f8f8;
  color: #1b1c21; }

.flex {
  display: flex; }

@media (max-width: 1440px) {
  .unscroll-laptop {
    overflow: hidden; } }


/*# sourceMappingURL=style.css.map*/