.blur {
  @media (min-width: 361px) and (max-width: 1439px) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
  }

  &--active {
    opacity: 0.9;
    z-index: 2;
  }
}
