.blur {
  @media (max-width: $screen-laptop) {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, z-index 0.3s ease-in-out;
  }

  &--active {
    height: 100%;
    opacity: 0.9;
    z-index: 2;
  }
}
