.brands-section {
  margin-bottom: 24px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-laptop) {
    margin-bottom: 50px;
  }

  &__swiper {
    min-height: 110px;
    margin-bottom: 24px;

    @media (min-width: $screen-tablet) {
      max-height: 160px;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }

    @media (min-width: $screen-laptop) {
      transition: max-height 0.5s ease-out;
    }
  }

  &__swiper-slide {
    height: 72px;
  }

  &__content-card {
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid $color-stroke-grey;
  }

  &__swiper-wrapper {
    padding: 0 16px;

    @media (min-width: $screen-tablet) {
      padding: 0 24px;
    }

    @media (min-width: $screen-laptop) {
      padding: 0 32px;
    }
  }

  &__more-btn {
    display: none;

    @media (min-width: $screen-tablet) {
      display: flex;
    }
  }
}
