$color-white: #fff;
$color-main-background: #f8f8f8;
$color-main-turquoise: #41f6d7;
$color-stroke-turquoise: #b8ffec;
$color-stroke-grey: #eaeaea;
$color-light-grey: #ddd;
$color-dark-grey: #b5b6bc;
$color-main-pink: #ff3e79;
$color-hover-pink: #ff6191;
$text-color-main-black: #1b1c21;
$text-color-main-grey: #7e7e82;
