.divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: $color-stroke-grey;

  &--right {
    display: none;

    @media (min-width: $screen-tablet) {
      display: inline;
    }
  }
}
