@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.woff2') format('woff2'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.woff2') format('woff2'),
    url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTLakes';
  src: local('TTLakes-Bold'), url('../fonts/TTLakes-Bold.woff2') format('woff2'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
