.price-section {
  margin-bottom: 40px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 48px;
  }

  @media (min-width: $screen-tablet) {
    margin-bottom: 50px;
  }

  &__content-card {
    position: relative;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

    @media (min-width: $screen-tablet) {
      align-items: center;
      flex-direction: row;
      width: 100%;
      border-radius: 0;

      &::after {
        content: '';
        position: absolute;
        bottom: 64px;
        left: 2%;
        width: 96%;
        height: 1px;
        background-color: $color-stroke-grey;
      }
    }

    &--first {
      border-radius: 6px 6px 0 0;
    }

    &--last {
      border-radius: 0 0 6px 6px;
    }
  }

  &__swiper-slide {
    height: 200px;

    @media (min-width: $screen-tablet) {
      max-height: 64px;
      width: 100%;
    }
  }

  &__swiper {
    height: 240px;
    margin-bottom: 16px;

    @media (min-width: $screen-tablet) {
      height: auto;
      margin-bottom: 24px;
    }

    @media (min-width: $screen-laptop) {
      margin-bottom: 32px;
    }
  }

  &__swiper-wrapper {
    padding: 0 8px;

    @media (min-width: $screen-tablet) {
      padding: 0 24px;
      gap: 0;
    }

    @media (min-width: $screen-laptop) {
      padding: 0 32px;
    }
  }

  &__services-title {
    display: none;
    padding: 0 16px;
    margin-bottom: 16px;

    @media (min-width: $screen-tablet) {
      display: flex;
    }
  }

  &__service-title {
    display: block;
    margin-bottom: 4px;
    color: $text-color-main-grey;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.72;

    @media (min-width: $screen-tablet) {
      display: none;

      &--header {
        display: flex;

        &:first-child {
          margin-right: 35%;
        }

        &:nth-child(2) {
          flex: 1 1 auto;
        }

        &:last-child {
          width: 32%;
        }
      }
    }
  }

  &__service-text {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 120px;

    @media (min-width: $screen-tablet) {
      position: relative;
      bottom: 0;
      right: 0;
    }
  }

  &__section-header {
    margin-bottom: 30px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
    max-width: 420px;
  }

  &__special {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/price-section-special-arrow.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 27px;
    }
  }
}
