.repair-section {
  margin-bottom: 24px;

  &__content-card {
    padding: 16px;
    border: 1px solid $color-stroke-grey;
  }

  &__swiper-slide {
    height: 160px;
  }

  &__circle-btn {
    align-self: flex-end;
  }

  &__swiper {
    min-height: 200px;
    margin-bottom: 24px;

    @media (min-width: $screen-tablet) {
      min-height: auto;
      max-height: 160px;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }

    @media (min-width: $screen-laptop) {
      transition: max-height 0.5s ease-out;
    }
  }

  &__swiper-wrapper {
    padding: 0 16px;

    @media (min-width: $screen-tablet) {
      padding: 0 24px;
    }

    @media (min-width: $screen-laptop) {
      padding: 0 32px;
    }
  }

  &__more-btn {
    display: none;

    @media (min-width: $screen-tablet) {
      display: flex;
    }
  }
}
