// Подключения

@import './font-face.scss';
@import './reset.scss';
@import './wrapper.scss';
@import './header.scss';
@import './circle-btn.scss';
@import './contact-menu.scss';
@import './divider.scss';
@import './main.scss';
@import './main-section.scss';
@import './nav.scss';
@import './about-us.scss';
@import './more-btn.scss';
@import './link-logo';
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
@import './section-header.scss';
@import './section-title.scss';
@import './swiper.scss';
@import './brands-section.scss';
@import './highlight.scss';
@import './email.scss';
@import './phone.scss';
@import './burger-menu.scss';
@import './languages-menu.scss';
@import './sections-wrapper.scss';
@import './blur.scss';

// Базовые свойства

html {
  font-family: 'TTLakes', Helvetica, sans-serif;
}

body {
  background-color: #f8f8f8;
}

// Вспомогательные классы

.flex {
  display: flex;
}
